*{
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
}
body{
    display: grid;
    background: #eaeded;
}
.header-main{
    height: 93px;
    width: 100%;
    background: #131921;
    color: white;
}
.border-white:hover{
    border-color: white;
}

.nav-left{
    float: left;
    height: 60px;
    width: 216px;
    background: #131921;
}
.nav-left-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding: 1px 1px;
    margin-left: 12px;
    height: 55px;
    width: 98px;
    border-style: solid;
    border-color: #131921;
    background: #131921;
}
a .logo-amazon{
    display: block;
    margin: 10px 1px;
    width: 98px;
    height: 35px;
    background-size: cover;
    background-color: #131921;
}
.logo-amazon img{
    display: block;
    overflow: hidden;
    padding-top: 10px 10px 10px 10px;
}
.nav-left-2{
    position: relative;
    float: left;
    margin: 5px 0px;
    height: 50px;
    width: 86px;
    fill: #d6d6d6;
    border-style: solid;
    border-color: #131921;
    background: #131921;
}
.nav-left-2 p{
    font-size: 12px;
    line-height: 14px;
    margin-top: -40px;
    margin-left: 25px;
    width: 52px;
    height: 16px;
    color: #d6d6d6;
}
.nav-left-2 p span{
    font-size: 14px;
    line-height: 14px;
    color: white;
}
.sprite-loc{
    display: block;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 15px;
    height: 18px;
    background-image: url(Assests/sprites/sprite-loc.png);
    background-size: cover;
}

.nav-fill{
    float: left;
    height: 60px;
    width: 926px;
    background: #131921;
}
.search-main{
    display: block;
    width: 906px;
    height: 60px;
    margin-left: 10px;
}
.search-dropdown{
    float:left;
    margin-top: 11px;
    margin-left: 14px;
    width: 51px;
    height: 35px;
    font-size: 14px;
    background-color: #e1e1e1;
    border-radius: 5px;
}
.search-main input{
    float: left;
    margin-left: -2px;
    width: 802px;
    height: 33px;
    margin-top: 10px;
    border-radius: 1px;
}
.search-icon{
    margin-top: 11px;
    display: block;
    float: left;
    width: 37px;
    height: 35px;
    background: #febd69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fill-gray{
    fill: #4a4a4ad4;
}
.search-icon svg{
    margin-top: 7px;
    margin-left: 7px;
    width: 20px;
    height: 20px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    height: 60px;
    width: 375px;
    background: #131921;
}

.lang-option{
    float: left;
    padding: 1px 1px;
    margin-left: 1px;
    margin-top: 5px;
    height: 45px;
    width: 65px;
    border-style: solid;
    border-color: #131921;
    background: #131921;
} 
.flag img{
    display: block;
    height: 18px;
    margin-left: 10px;
    margin-top: 2px;
}
.lang-option label{
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    margin-left: 10px;
}
.Account-signin{
    float: left;
    padding: 1px 1px;
    margin-left: 1px;
    margin-top: 5px;
    height: 45px;
    width: 120px;
    border-style: solid;
    border-color: #131921;
    background: #131921;
}
.Account-signin label{
    margin-top: 10px;
    margin-left: 11px;
    font-size: 12px;
    line-height: 14px;
}
.Account-signin label span{
    text-align: left;
    margin-top: 11px;
    margin-left: 9px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
}
.orders label{
    margin-top: 10px;
    margin-left: 11px;
    font-size: 12px;
    line-height: 14px;
}
.orders label span{
    text-align: left;
    margin-top: 11px;
    margin-left: 9px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
}

.orders{
    float: left;
    padding: 1px 1px;
    margin-left: 1px;
    margin-top: 5px;
    height: 45px;
    width: 76px;
    border-style: solid;
    border-color: #131921;
    background: #131921;
}
.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding: 1px 1px;
    margin-left: 1px;
    margin-top: 5px;
    height: 45px;
    width:  75px;
    border-style: solid;
    border-color: #131921;
    background: #131921;
}
.cart img{
    height: 26px;
    width: 38px;
    margin-top: 0px;
}
.cart p{
    margin-left: 10px;
    text-align: right;
    font-weight: bold;
}
.cart label{
    margin-top: -23px;
    margin-left: -20px;
    color: #f08804;
}

.nav-under{
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    float: left;
    height: 39px;
    width: 1519px;
    background: #232f3e;
}
.nav-under div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Menu{
    margin-top: 9px;
    margin: 5px 0px;
    float: left;
    margin-left: 11px;
    width: 58px;
    height: 28px;
    border-style: solid;
    border-color: #232f3e;
}
.Menu img{
    margin-left: 4px;
}
.Menu p{
    font-weight: bold;
    width: 100%;
    margin-right: 6px;
    text-align: right;
}
.common-box{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 12px;
    display: block;
    margin: 5px 0px;
    float: left;
    border-style: solid;
    border-color: #232f3e;
}
.box1{
    
    width: 92px;
    height: 28px;
}
.box2{
    width: 120px;
    height: 28px;
}
.box3{
    width: 51px;
    height: 28px;
}
.box4{
    width: 72px;
    height: 28px;
}
.box5{
    width: 23px;
    height: 28px;
}


.carousel{
    height: 250px;
    width: 1500px;
    margin-left: 10px;
    background-image: url(Assests/carousel/1.jpg);
    background-size: cover;
}
.body-main{
    height: 3917px;
    width: 1519px;
    background: #eaeded;
}

.body-row1{
    font-size: 14px;   
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin: 0 30px;
    height: 40px;
    width: 1460px;
    background: #f5f6f6;
}
.body-row1 label{
    width: 100%;
    text-align: center;
}
.body-row1 label span{
    color: #007185;
}
.body-row1 label span:hover{
    color: #c7511f;
    text-decoration:underline ;
}

.body-section1{
    /*margin: 0 20px;
    padding: 20px 10px;
    height: 860px;
    width: 1480px;*/
    display: grid;
    padding: 20px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    grid-column-end: auto;
    background: #eaeded;
}
.section-box{
    display: block;
    height: 420px;
    width: 350px;
    float: left;
    background: #fff;
}
.split .section-box{
    background: #eaeded;
}
.first-split{
    display: block;
    height: 150px;
    width: 100%;
    background: #fff;
}
.first-split label{
    width: 100%;
    padding-top: 15px;
}
.first-split a{
    display: block;
    text-align: center;
    margin-left: 22px;
    margin-top: 15px;
    width: 308px;
    font-size: 13px;
    line-height: 29px;
    text-decoration: none;
    background: #f7ca00;
    border-radius: 6px;
    color: #0f1111;;
}
.second-split{
    display: block;
    margin-top: 20px;
    height: 230px;
    width: 100%;
    background: #eaeded;
    overflow: hidden;
}
.second-split img{
    margin-left: 25px;
    
}

.section-box label{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 21px;
    color: #0f1111;
    line-height: 27.3px;
    font-weight: bold;
    align-items: center;
}
.gaming-box{
    display: flex;
}
.gaming-box img{
    overflow: hidden;
    height: 116px;
    width: 185px;
}
pre{
    font-size: 12px;
    line-height: 18px;

}
.category-box{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    row-gap: 1px;
}
.category-boxs{
    display: block;
    height: 128px;
    width: 153px;
    background: #e9f4f6;
}
div .section-box-1 img{
    display: block;
    width: 152px;
    height: 110px;
}
div .section-box-1 p{
    font-size: 13px;
    text-align: center;
}
div .dress-box {
    display: block;
    overflow: hidden;
    padding: 0px 20px;
}
div .dress-box img{
    margin-top: 10px;
    height: 303px;
    width: 310px;
}
.section-box .dress-box span{
    display: block;
    font-size: 13px;
    line-height: 19px;
    margin-top: 30px;
    margin-left: 0px;
    color: #007185;
}

.section-box span{
    display: block;
    font-size: 13px;
    line-height: 19px;
    margin-top: 70px;
    margin-left: 20px;
    color: #007185;
}
.section-box span:hover{
    text-decoration:underline ;
    color: #c7511f;
}

div .body-row2{
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    height: 281px;
    width: 1460px;
    padding-left: 20px;
    padding-top: 10px;
    background: #ffffff;
}
.scroller{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    overflow-x: scroll;
}
.scroller img{
    margin-right: 20px;
    height: 200px;
    cursor: pointer;
}

div .body-row3{
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    height: 281px;
    width: 1460px;
    padding-left: 20px;
    padding-top: 22px;
    background: #ffffff;
}
.body-section2{
    /*margin: 0 20px;
    padding: 20px 10px;
    height: 420px;
    width: 1480px;
    background: #d14c4cb3;*/
    display: grid;
    padding: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    grid-column-end: auto;
    background: #eaeded;
    overflow: auto;
}
.body-section2 .category-boxs{
    background: white;
}
.body-section2 .section-box .category-box .category-boxs p{
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}
.footer-section1{
    display: grid;
    margin-top: 132px;
    margin-left: 21px;
    padding-top: 24px;
    width: 1477px;
    height: 111px;
    background: #ffffff;
}
.footer-section1-box1{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 1519px;
    height: 68px;
    align-items: center;
    background: #fff;
}
.footer-section1-box1 p{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}
.footer-section1-box1 a{
    display: block;
    width: 230px;
    height: 23px;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background: #ffd814;
}
.footer-section1-box1 p span{
    color: #007185;
}
.footer-section1-box1 p span:hover{
    color: #c7511f;
}
.footer-back2top{
    display: block;
    font-size: 13px;
    height: 49px;
    width: 1519px;
    background: #37475a;
    text-align: center;
    text-decoration: none;
    color: white;
}
.footer-section2{
    display: flex;
    padding: 40px 0px;
    width: 1519px;
    height: 435px;
    flex-direction: row;
    background: #232f3e;
    color: #fff;
}
.footer-spacer{
    display: block;
    height: 318px;
    width: 100px;
}
.footer-spacer1{
    display: block;
    height: 318px;
    width: 60px;
}
.flex-footer2{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.flex-footer2 label{
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 14px;
}
.flex-footer2 p{
    font-size: 14px;
    margin-bottom: 9px;
    line-height: 16.8px;
    color: #dddddd;

}
.footer-line{
    content: '';
    height: 1px;
    margin-top: -120px;
    width: 1516px;
    background: #7e8185;
    fill:#c6d3d3;
}
.footer-section2-end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 68px;
    margin: -109px 260px;
    background: #232f3e;
}
.footer-section2-end .logo-amazon1{
    display: block;
    margin: 10px 1px;
    width: 98px;
    height: 35px;
    margin-right: 73px;
    background-image: url(Assests/sprites/logo-amazon.png);
    background-size: cover;
    background-color: #131921;
}
.footer-after-logo{
    display: flex;
    flex-direction: row;
    margin-left: 0px 7px;
    align-items: center;
    
}
.footer-after-logo button{
    height: 34px;
    font-size: 13px;
    line-height: 18px;
    padding: 5px;
    margin-right: 7px;
    text-align: center;
    color: #dddddd;
    border-color: #c6d3d3;
    border-radius: 3px;
    background: #232f3e;
    border-width: 1px;
}
.footer-section3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 15px;
    padding: 30px 260px;
    
    height: 377px;
    fill: #dddddd;
    background: #131a22;
}
.footer-section3 div{
    color: #999999;
    width: 100px;
    font-size: 10px;
}
.footer-section3 div span{
    font-size: 11px;
    color: #fff;
}
.footer-end{
    width: 1519px;
    height: 76px;
    background: #131a22;
    color: #dddddd;
}
.terms{
    margin-top: 11px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    color: #dddddd;
    font-size: 12px;
}
.terms p{
    padding: 0px 7px;
}
.footer-end span{
    margin-top: 2px;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;

}